@model SMS.Models.mymodel


<h1 fontcolor="red">Student Full Details-</h1>
<a href="/home/index">Back</a>

<p><b>Student Name-</b> <span>@Model.Sname</span></p>
<hr>


<p><b>Student Roll Number-</b> <span>@Model.Roll</span></p>
<hr>


<p><b>Student Class-</b> <span>@Model.Class</span></p>
<hr>


<p><b>Student Age-</b> <span>@Model.Age</span></p>
<hr>


<p><b>Student Section-</b> <span>@Model.Section</span></p>
<hr>


<p><b>Student Class Teacher-</b> <span>@Model.ClassTeacher</span></p>
<hr>


<p><b>Student Principal-</b> <span>@Model.Principal</span></p>
<hr>


<p><b>Student Blood Group-</b> <span>@Model.BloodGroup</span></p>
<hr>


<p><b>Student House Dress-</b> <span>@Model.HouseDress</span></p>
<hr>

<p><b>Student FeedBack-</b> <span>@Model.Details</span></p>
<hr>


<p><b>Student Performance-</b> <span>@Model.Performance</span></p>
<hr>



<p><b>Student Date Of Admition-</b> <span>@Model.Doa</span></p>
<hr>


<p><b>Student Current Fee-</b> <span>@Model.CurrentFee</span></p>
<hr>


<p><b>Student PhoneNumber-</b> <span>@Model.PhoneNumber</span></p>
<hr>


<p><b>Student Email-</b> <span>@Model.Email</span></p>
<hr>


<p><b>Student Date Of Birth-</b> <span>@Model.Dob</span></p>
<hr>


<p><b>Student Address-</b> <span>@Model.Address</span></p>
<hr>


<p><b>Student Adhar Number-</b> <span>@Model.AdharNo</span></p>
<hr>

<a href="/home/index">Back</a>